body{
	
}
body .logo{
	background-image: url(../images/technology.jpg);
	color: blue;
	text-align: center;
	text-shadow: 3px 2px lightblue;
	font-family: "Times New Roman", Times, serif;
	font-size: 100px; 
	height: 200px;
	 
}
body .search{
	float: right;
	margin-top: 10px;
	margin-bottom: -10px;
}

body .navbar-header .project{
	color: orange;
}
@media only screen and (max-width: 800px){
	body .search{
		margin-top: 0px;
		margin-bottom: 0px;	
	}	
}
@media only screen and (max-width: 600px){
	body .logo{
		font-size: 50px;
		height: 100px;
	}	
}